*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(204, 255, 150);
}
#kongbai{
    padding-top: 6%;
}
#click{
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    /*  */

    position: absolute;
}
#jieguo{
    /* display: inline-block; */
    margin: auto;
    color: white;
    font-size: 30px;
    /* background-color: rgb(0, 0, 0,0.3); */
}
.displayNone{
    display: none;
}
.displayFlex{
    background-color: rgb(0, 0, 0,0.3);
    display: flex;
}
.subject{
    width: 80%;
    height: 610px;
    margin-left: 10%;
    border: 10px solid rgb(255, 184, 19);
}
.subject_system,.subject_you,.subject_system p{
    text-align: center;
}
.subject_system{
    padding-top: 75px;
    height: 225px;
    border-bottom: 10px solid rgb(255, 184, 19);
    
}
.subject_you{
    padding-top: 50px;
    height: 250px;

    /* border-top: 10px solid rgb(255, 184, 19); */

}
.finger,.finger img{
    display: inline-block;
    width: 150px;
    height: 150px;
    /* margin-left: ; */
    /* background-color: aqua; */
}
#button img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid black; */
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.304);
}
